.header {
  margin-left:1rem;
  text-transform: uppercase;
  text-align: center;
  color:wheat;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

body {
  background-color: rgb(56, 56, 61);
}

.cards {
  margin-left:3rem;
  display:flex;
  gap: 1rem;
  flex-wrap:wrap;
}

.vegCard {
  min-width: 10rem;
  height: 20rem;
  background-color: #eddba6;
  border: 1px solid black;
  border-radius: 1rem;
}

.vegCard>h3 {
  text-transform: uppercase;
  text-align:center;
}

.gameDiv {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.gameDiv>button {
  font-size:1rem;
  border-radius: 20px;
  align-self:center;
  height:5rem;
  width:10rem;
}

button:hover {
  transform: scale(1.2);
}

button {
  background-color: #35494f;
  color:white;
  border:1px solid black;
}

.defeated {
  color:red;
  text-decoration: line-through;
}

.healthBars {
  display: flex;
  gap: 10rem;
  align-items: center;
  color: white;
  justify-content: center;
}

progress {
  appearance:none;
  width:15rem;
  height:1.5rem;
}

progress::-webkit-progress-bar {
  background-color: red;
}

progress::-moz-progress-bar {
  background-color: red;
}

.winnerDiv {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: auto;
  align-items: center;
}

.winnerDiv>button {
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
}

.winnerDiv>p{
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.matchHeader {
  color:white;
  text-align: center;
}

.healthbar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
}

.actionLog {
  max-height: 25rem;
  overflow: scroll;
  float: right;
  min-width: 25rem;
  max-width: 35rem;
  margin-left: 2rem;
  background-color: darkgray;
  opacity: 15%;
  border-radius: 25px;
  padding-top: 0.5rem;
  padding-left: 2rem;
  margin-right: 2rem;
}