.header {
  margin-left:1rem;
  text-transform: uppercase;
}

.cards {
  margin-left:3rem;
  display:flex;
  gap: 1rem;
  flex-wrap:wrap;
}

.vegCard {
  width: 10rem;
  height: 20rem;
  background-color: #eddba6;
  border: 1px solid black;
  border-radius: 1rem;
}

.vegCard>h3 {
  text-transform: uppercase;
  text-align:center;
}